body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.node {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.visible {
  width: 20px;
  height: 20px;
  background: red;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}